html {
	Helvetica, Arial, sans-serif;
	background-color: #ffffe6
}

body {
    font-family: Helvetica, Arial, sans-serif;
	font-size: 14px
}

#menuBG {
	width: 400px;
	height: 470px;
	margin: 10px auto;
}

#frmMenu {
	width: 400px;
	height: 200px;
}

#totalPrice {
	width: 200px;
	height: 190px;
	margin: 0 auto;
	float: right;}

.left {
	width: 200px;
	height: 200px;
	float: left;
}

.right {
	width: 200px;
	height: 200px;
	float: right;
}

#showText {
	width: 200px;
	height: 190px;
	margin: 0px auto;
	float: left;
}

#cart {
	top: 0;
	margin: 0px auto;
	width: 400px;
	height: 200px;
}

#btnOrder {
	margin: 10px 0px 0px 100px;
	width: 100px;
	height: 40px
}
		
h1 {
    color: #333300;	
}

h2 {
    color: #E91C1C;
}

h3 {
    color: #E91C1C;
}

.container {
	opacity: 0.95;
}